.App {
  text-align: center;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 2px;
}
.switchTheVocab{
  cursor: pointer;
}

@media (max-width: 415px) {
  .App {
    font-size: 24px;
    padding: 5px;
  }
  input {
    box-sizing: border-box;
    font-size: 24px;
    height: 40px;
    width: 60%;
    margin-bottom: 0px;
  }
  button {
    box-sizing: border-box;
    height: 40px;
  }
  .modaladding button {
    width: 40%;
    height: 40px;
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  form input {
    width: 80%;
  }

}
